body {
    color: white;
<<<<<<< HEAD
    background-color: black;
    font-size: 150%;
    font-family: 'Sacramento', cursive;
    margin: 5em 25%;
=======
 
>>>>>>> dd7c67f47c612923b5f1bef9cb7677410c5e2551
 }